$font-family: 'Open Sans', sans-serif;
$second-font-family: 'Roboto', sans-serif;
$menu-color: #0f0101;
$title-color: #515151;
$transformation-color: #1abc9c;
$color-type: #ffffff;
$type-transformation: #7fd9c7;
$type-background: #323232;
$type-value-color: #8c8c8c;
$text-title: #555252;
$featured-products-background: #e8effc;
$button: #4ec6ab;
