/*--------------------------------------------Overlay-----------------------------------------------------------*/

.overlay-collection {
  width: 235px;
  height: 260px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-block:hover .overlay-collection {
  opacity: 1;
  transform: translateY(0);
}

.main-block:hover .overlay-list {
  opacity: 1;
}

.overlay-new-collection {
  width: 235px;
  height: 260px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-items:hover .overlay-new-collection {
  opacity: 1;
  transform: translateY(0);
}

.block-items:hover .overlay-list {
  opacity: 1;
}

.overlay-list {
  padding: 0;
  opacity: 0;
  width: 235px;
  height: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-list__item {
  list-style-type: none;
  margin-right: 10px;
  width: 48px;
  height: 48px;
  padding-top: 76px;
}

.overlay-list__item:nth-child(3) {
  margin-right: 0;
}

.overlay-list__item:last-child {
  margin-right: 0;
  width: 165px;
  padding-top: 0;
}

.overlay-list__buttom {
  padding: 0;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.4);
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $transformation-color;
  }

  &--big {
    border: 1px solid rgb(255, 255, 255);
    width: 165px;
    height: 48px;
    cursor: pointer;
    background-color: $type-background;
    font-size: 14px;
    font-family: $font-family;
    font-weight: 400;
    color: $color-type;
    text-transform: uppercase;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.overlay-list__icon {
  fill: $color-type;
  height: 23px;
  width: 25px;
  display: block;

  &--big {
    margin-right: 18px;
  }
}

.overlay-list__buttom .news-list__image {
  background-color: $transformation-color;
}
